/*!
 * trainers
 */
.section_trainer
  background url("../img/section_trainer.png");
  padding-top: 48px;
  padding-bottom: 60px;
.section_trainer__title
  color: $white
  font-size: 24px;
  font-weight: 700;
  line-height: 21px;
.title_trait
.title_trait__white
  color $white
  margin-bottom 60px
.title_trait__row
  width: 45px;
  height: 1px;
  display: block;
  background-color $white
  margin: auto;
  margin-top: 1px;
.card
  height: 100%;
.card-content__title
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
.card-content__subtitle
  color: #afafaf;
  font-size: 12px;
.card-content
  padding: 20px;
.card-content__text
  color: #777777;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-transform none
@media screen and (max-width: 1087px)
  .section_trainer
    padding-left: 10px;
    padding-right: 10px;
  .columns_trainer
    flex-wrap wrap
  .column_trainer
    display: flex;
    justify-content center